version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: fantasy-baseball-buzz:latest
    container_name: fantasy-baseball-buzz
    volumes:
      - type: bind
        source: ./src
        target: /app/src
