[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
flask = "*"
unidecode = "*"
ratelimit = "*"
webdriver-manager = "*"
jinja2 = "*"
pyairtable = "*"

[dev-packages]

[requires]
python_version = "3.11.3"
