[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
flask = "*"
unidecode = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7.5"
