[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
unidecode = "*"
ratelimit = "*"
webdriver-manager = "*"
jinja2 = "*"
python-dotenv = "*"
flask = "*"

[dev-packages]
flake8 = "*"

[requires]
python_full_version = "3.13.2"
