<!DOCTYPE html>

<html>
    <head>
        <title>Jamball</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- <style>
            body {background-color: Black;}
            h1 {color: Gold;}
            h2 {color: Lime;}
            p {color: Blue;}
        </style> -->
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="600">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Jamball</h1>
        <br>
        <h2>Combined</h2>
        <p><a href="/combined">combined</a></p>
        <br>
        <h2>ESPN</h2>
        <p><a href="/espn">added dropped trends</a></p>
        <br>
        <h2>Yahoo</h2>
        <p><a href="/yahoo">added dropped trends 7d</a></p>
        <br>
        <h2>CBS</h2>
        <p><a href="/cbs">added dropped trends</a></p>
        <br>
        <h2>Pitcher List</h2>
        <p><a href="/pitcherlist">starting pitcher ranks</a></p>
        <br>
        <h2>Other</h2>
        <p><a href="/about">about</a></p>
    </body>
</html>
