<!DOCTYPE html>

<html>
    <head>
        <title>Jamball</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            body {background-color: Black;}
            h1 {color: Gold;}
            h2 {color: Lime;}
            p {color: Blue;}
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="600">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Jamball</h1>
        <br>
        <h2>ESPN</h2>
        <p><a href="/espn/1">added dropped trends</a></p>
        <br>
        <h2>Yahoo</h2>
        <p><a href="/yahoo/1">added dropped trends 1d</a></p>
        <p><a href="/yahoo/2">added dropped trends 7d</a></p>
        <p><a href="/yahoo/3">added dropped trends 14d</a></p>
        <br>
        <h2>CBS</h2>
        <p><a href="/cbs/1">added dropped trends</a></p>
        <p><a href="/cbs/2">viewed trends</a></p>
        <p><a href="/cbs/3">traded trends</a></p>
        <br>
        <h2>Pitcher List</h2>
        <p><a href="/pitcherlist/1">starting pitcher rank trends</a></p>
        <p><a href="/pitcherlist/2">starting pitcher ranks</a></p>
        <p><a href="/pitcherlist/3">streaming starting pitcher ranks</a></p>
        <p><a href="/pitcherlist/4">starting pitcher matchup tiers</a></p>
        <p><a href="/pitcherlist/5">two start starting pitcher matchup tiers</a></p>
        <p><a href="/pitcherlist/6">batter rank trends</a></p>
        <p><a href="/pitcherlist/7">batter ranks</a></p>
        <p><a href="/pitcherlist/8">closing pitcher rank trends</a></p>
        <p><a href="/pitcherlist/9">closing pitcher ranks</a></p>
        <p><a href="/pitcherlist/10">relief pitcher rank trends</a></p>
        <p><a href="/pitcherlist/11">relief pitcher ranks</a></p>
        <br>
        <h2>Other</h2>
        <p><a href="/about">about</a></p>
    </body>
</html>
