<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {background-color: Black;}
        h1 {color: Gold;}
        p {color: White;}
        h2 {color: Gold;}
        h3 {color: White;}
        a:link {color: DeepSkyBlue;}
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="refresh" content="600">
    <title>Jamball</title>
</head>

<body>
    <header>
        <h1>Jamball</h1>
        <p>Web interface to manually execute functions that refresh player data.</p>
    </header>

    <h2>Data</h2>

    <p><a href="/airtable">Airtable</a></p>

    <h2>Functions</h2>

    <h3>ESPN</h3>

    <p><a href="/espn/1">espn_get_added_dropped_trends</a></p>

    <p><a href="/espn/2">espn_get_player_list</a></p>

    <p><a href="/espn/3">espn_get_rostered_players</a></p>

    <h3>Yahoo</h3>

    <p><a href="/yahoo/1">yahoo_get_added_dropped_trends</a></p>

    <p><a href="/yahoo/2">yahoo_get_player_list</a></p>

    <p><a href="/yahoo/3">yahoo_get_player_list_deep</a></p>

    <h3>CBS</h3>

    <p><a href="/cbs/1">cbs_get_added_dropped_trends</a></p>

    <p><a href="/cbs/2">cbs_get_viewed_trends</a></p>

    <p><a href="/cbs/3">cbs_get_traded_trends</a></p>

    <h3>Pitcher List</h3>

    <p><a href="/pitcherlist/1">pitcherlist_get_starting_pitcher_rank_trends</a></p>

    <p><a href="/pitcherlist/2">pitcherlist_get_starting_pitcher_ranks</a></p>

    <p><a href="/pitcherlist/3">pitcherlist_get_streaming_starting_pitcher_ranks</a></p>

    <p><a href="/pitcherlist/4">pitcherlist_get_starting_pitcher_matchup_tiers</a></p>

    <p><a href="/pitcherlist/5">pitcherlist_get_two_start_starting_pitcher_matchup_tiers</a></p>

    <p><a href="/pitcherlist/6">pitcherlist_get_batter_rank_trends</a></p>

    <p><a href="/pitcherlist/7">pitcherlist_get_batter_ranks</a></p>

    <p><a href="/pitcherlist/8">pitcherlist_get_closing_pitcher_rank_trends</a></p>

    <p><a href="/pitcherlist/9">pitcherlist_get_closing_pitcher_ranks</a></p>

    <p><a href="/pitcherlist/10">pitcherlist_get_relief_pitcher_rank_trends</a></p>

    <p><a href="/pitcherlist/11">pitcherlist_get_relief_pitcher_ranks</a></p>

    <h3>MLB</h3>

    <p><a href="/mlb/1">mlb_get_player_list</a></p>

    <h3>FantasyPros</h3>

    <p><a href="/fantasypros/1">fantasypros_get_player_list</a></p>

    <h2>Other</h2>

    <p><a href="/about">about me</a></p>

</body>
</html>